:root {
  --fieldset-border-color: rgba(0, 0, 0, 0.2);
  --blur-item-border-bottom-color: rgba(0, 0, 0, 0.04);
}

.demo-mode-setting fieldset {
  margin: 0 2px;
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid var(--fieldset-border-color);
  border-radius: 8px;
}

.demo-mode-setting legend {
  padding: 0 2px;
}

.demo-mode-setting input {
  appearance: auto;
}

.demo-mode-setting .setting-item-title {
  color: var(--text_primary);
  font-weight: var(--font-bold);
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  margin: 0 0 8px 16px;
}

.demo-mode-setting .setting-item-content {
  background-color: var(--fill_light_primary);
  border-radius: 8px;
  padding: 0 16px;
  margin-bottom: 24px;
}

.demo-mode-setting .setting-item-content .blur-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--blur-item-border-bottom-color);
  padding: 12px 0;
}

.demo-mode-setting .setting-item-content .blur-item .title {
  display: flex;
  align-items: center;
}

.demo-mode-setting .setting-item-content .blur-item .checkbox {
  display: flex;
  justify-content: space-between;
}

.demo-mode-setting .setting-item-content .blur-item .checkbox div {
  display: flex;
  align-items: center;
}

.demo-mode-setting .setting-item-content .blur-radius {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.demo-mode-setting .setting-item-content .blur-radius .input {
  display: flex;
  justify-items: center;
}

#blurRadiusNumber {
  color: var(--text_primary);
  width: 56px;
  border-radius: 4px;
  border: 1px solid var(--border_dark);
  padding: 1px 8px 0;
}
