setting-text {
  margin-right: 10px;
}

#blurRadiusRange {
  width: 100%;
}

[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  outline: 0;
  background-color: transparent;
  width: 500px;
}

[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #eee;
}

[type="range" i]::-webkit-slider-container {
  height: 20px;
  overflow: hidden;
}

[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--text-brand);
  border: 1px solid transparent;
  margin-top: -8px;
  border-image: linear-gradient(var(--text-brand), var(--text-brand)) 0 fill / 8 20 8 0 / 0px 0px 0 2000px;
}

#blurRadiusNumber {
  color: var(--text_primary);
  width: 56px;
  border-radius: 4px;
  border: 1px solid var(--border_dark);
  padding: 1px 8px 0;
}
