.common-tab {
  font-size: 14px;
  padding: 20px 20px 0px;
}

.setting-item-title {
  color: var(--text_primary);
  font-weight: var(--font-bold);
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  margin: 0px 0px 8px 16px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  background-color: var(--fill_light_primary);
  border-radius: 8px;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  padding: 12px 16px;
  margin-bottom: 24px;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.75em 0.625em;
  border: 2px groove rgb(192, 192, 192);
  border-radius: 8px;
}

legend {
  padding: 0 2px;
}

input {
  appearance: auto;
}
